.open-button {
    background-color: white;
    color: #13aa57;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    right: 56px;
    height: 40px    ;
    width: 100px;
    font-weight: bold;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 60%;
    height: 100vh   ;
}

.close {
    color: #aaaaaa;
    margin-top: 15px;
    margin-right: 20px;
    float: right;
    float: top;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.gc-img{
    height: 700px;
    width: 442px;
    background: url(../img/auth-img.png);
    float:left
}

.form-content{
    height: 100%;
    width: 50%;
    float:left
}
.form-input{
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 70px;
}
.google-icon{
    margin-left: 9px;
    margin-bottom: 6px;
    width: 26px;
    height: 26px;
    content: url(../img/google.png);
    float: left;
}



