<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <div class = "random">
    <div class="main-background-image">
        <div class="main">
            <a class="small-screen-size">
                <img alt="GreenCity Logo" class="logo" th:src="@{/img/greencity-logo.png}" type="image/png">
            </a>
            <div class="links">
                <div class="left-side">
                    <ul class="list-of-site-links">

                    </ul>
                </div>
                <div class="bottom-part">
                    &copy; Copyright 2020. Green City.
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
