<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Login with Facebook</title>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '964118242488651',
                cookie     : true,
                xfbml      : true,
                version    : 'v17.0'
            });

            FB.AppEvents.logPageView();
        };

        function loginWithFacebook() {
            FB.login(function(response) {
                if (response.authResponse) {
                    FB.api('/me', {fields: 'name,email'}, function(user) {
                        console.log('User:', user);
                        console.log('Response: ', response);
                        console.log('Access Token: ', response.authResponse.accessToken);

                        fetch('https://200a-91-245-77-57.ngrok-free.app/facebookSecurity/login', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'ngrok-skip-browser-warning': 'true'
                            },
                            mode: 'cors',
                            credentials: 'include',
                            body: JSON.stringify({
                                accessToken: response.authResponse.accessToken,
                                userID: user.id,
                                name: user.name,
                                email: user.email
                            })
                        })
                            .then(res => res.json())
                            .then(data => {
                                console.log('Server response:', data);
                                if (data.accessToken) {
                                    window.location.href = "https://www.greencity.cx.ua/#/ubs";
                                }
                            })
                            .catch(error => console.log('Error:', error));
                    });
                }
            }, {scope: 'email'});
        }

        window.onload = function () {
            fetch('https://200a-91-245-77-57.ngrok-free.app/user/authorities', {
                method: 'GET',
                credentials: 'include'
            })
                .then(res => res.json())
                .then(data => {
                    if (data.isAuthenticated) {
                        console.log('Користувач залогований:', data.user);
                    } else {
                        console.log('Не залогований');
                    }
                })
                .catch(err => console.log('Помилка авторизації:', err));
        };
    </script>
</head>
<body>
<button onclick="loginWithFacebook()">Увійти через Facebook</button>
</body>
</html>
