<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Management Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        .vertical-offset-100{
            padding-top:200px;
        }
    </style>

    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="icon" th:href="@{/img/icon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/position.css}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div id="header" th:insert="core/header"></div>

<div class="main-content">
<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/management/login}" th:object="${signInForm}" method="post" class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" th:field="*{email}" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" th:field="*{password}" type="password" value="">
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="footer" th:insert="core/footer"></div>
</body>
</html>
